input[type=text], input[type=password] {
    @apply outline-gray-400 text-sm rounded w-full shadow-sm focus:outline-primary;
    transition: .2s;
}

a:not([blank]) {
    text-decoration: underline;
    color: var(--color-primary);
    opacity: 1;
    transition: .1s;
}

a:hover:not([blank]) {
    opacity: .75;
}

textarea {
    transition: outline 100ms;
}

textarea:focus {
    outline-color: var(--color-primary);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
}